
<div style="width: 100%; padding: 25px;">
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" md-them="yellow">
        <span><h1>Testing Proseguir in Contact Us Page</h1></span>
    </md-whiteframe>
    <div layout="column" layot="column">
        <md-button class="md-primary" ng-click="popup()">
            <h3>Custom Dialog</h3>
        </md-button>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>
    </div>

</div>





