<h1>Tooltip</h1>

<div style="width: 100%; padding: 25px;">
    <md-content class="md-padding">
        <md-button class="md-fab md-fab-top-left left" aria-label="Insert Drive">
            <md-icon md-svg-src="images/boy.svg"style="color: #fff; width: 24px; height: 24px;"></md-icon>
            <md-tooltip md-visible="demo.showTooltip">
                Testing Project
            </md-tooltip>
        </md-button>
        <md-button class="md-fab md-fab-top-right right" aria-label="Photos">
            <md-icon md-svg-src="images/x.svg" style="width: 24px; height: 24px;"></md-icon>
            <md-tooltip md-direction='right'>
                Testing Project
            </md-tooltip>
        </md-button>
        <br/><br/><br/><br/><br/><br/>
        <p>
        </p>

    </md-content>
</div>


